/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color:#eaeaea;
  text-align: center;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #666;
  --color-grey-light: #e4dfd5;
  --color-blue: #26A5E4;
  --color-blue-light: #72c1e9;
  --color-blue-dark: rgb(20, 107, 151);
}

.login-image {
  margin-bottom: 30px;
  border-radius: 25px;
}

.container {
  max-width: 460px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 50px 15px;
  border-radius: 25px;
  background-color: var(--color-white);
}

.text {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
}

.form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.form__input {
  width: 100%;
  padding: 7px 24px;
  border-radius: 100px;
  border: 1px solid var(--color-black);
  outline: none;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form__input:focus {
  border-color: var(--color-black);
}
.form__input:hover {
  background-color: var(--color-grey-light);
}

.form__error {
  position: absolute;
  top: -30px;
  font-weight: bold;
  font-size: 18px;
  color: red;
}

.form__container {
  position: relative;
  width: 100%;
}

.form__input--error {
  position: absolute;
  top: 50px;
  left: 25px;
  font-weight: bold;
  font-size: 18px;
  color: red;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 0;
}

.btn-default {
  position: relative;
  width: 100%;
  padding: 20px 33px;
  border-radius: 100px;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--color-blue-light);
  -webkit-transition: outline-color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: outline-color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: outline-color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn-default:focus:enabled,
.btn-default:hover:enabled {
  background-color: var(--color-blue);
}

.btn-default:active:enabled {
  background-color: var(--color-blue-dark);
}

.spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 3px solid transparent;
  border-left: 3px solid var(--color-white);
  border-right: 3px solid var(--color-white);
  border-bottom: 3px solid var(--color-white);
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to   { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to   { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
